#payContianer {}

#payContainer .payHdr{
min-height: 150px;
padding: 15px;
color: #fff;
background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

color: #fff;
}

#payContainer .payHistory{
    padding: 10px 5px;
}

#payContainer .payHdr .paytitle{
    font-size: 18px;
    font-weight: normal;
}

#payContainer .payHdr .totalPaidAmt{
    font-size: 48px;
    font-weight: normal;
}
#payContainer .payHdr .totalPaidIcon{
    font-size: 30px;
    font-weight: normal;
}
#payContainer .payHdr .totalPaidFooter {
    font-size: 14px;
    color: #eaeaea;
}

#payContainer .payHdr .payDetailsSmall{
    padding-top: 5.2%;
}
#payContainer .payHdr .payDetailsSmall .payTitleSmall{
    font-size: 13px;
    font-weight: 500;
}
#payContainer .txnRow{
    border:1px solid #d3d3d3;
    border-radius: 5px;
    min-height: 50px;
    margin-bottom: 5px;
    padding: 10px 2px;
    font-size: 14px;
}
#payContainer .txnNm {
    font-size: 14px;
    font-weight: 500;
}